<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Handlebars Helpers : </title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/site.css" rel="stylesheet">
</head>
<body ng-controller="HelpersListCtrl">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <input type="search" role="search" class="ng-cloak navbar-brand" placeholder="Search {{ data.length }} helpers..." ng-model="search" ng-change="find()" autofocus>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://github.com/assemble/handlebars-helpers">Github Repo</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
  <div class="col-sm-3 col-md-2 navbar">
  <ul class="nav sidebar ng-cloak">
    <li ng-repeat="collection in collections | filter:collectionSearch"><a ng-click="scrollTo(collection.name)">{{collection.name}}</a>
      <div class="list-group">
        <a ng-repeat="helper in collection.helpers | filter:helperSearch" class="list-group-item" ng-click="scrollTo(helper.key)">{{helper.name}}</a>
      </div>
    </li>
  </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"><h1 class="page-header">Handlebars Helpers</h1>
<div class="row helpers-list" ng-repeat="collection in collections | filter:collectionSearch">
  <div id="{{collection.name}}" ng-bind-html="('## ' + collection.name) | markdown"></div>
  <div ng-repeat="helper in collection.helpers | filter:helperSearch">
    <span id="{{helper.key}}" ng-bind-html="('### ' + helper.name + ' (' + link(helper, 'code') + ' | ' + link(helper, 'unitTest') + ')') | markdown"></span>
    <div ng-bind-html="((helper.comment.lines | filter:noparams).join('\n') + '---') | markdown"></div>
  </div>
  <hr />
</div>
</div>

  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted"><a href="https://github.com/doowb/">Brian Woodward</a> &copy; 2015</p>
    </div>
  </footer>
  
  <script src="assets/js/app.js"></script>
</body>
</html>
