<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Handlebars Helpers : </title>
  <link href="assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/css/site.css" rel="stylesheet">
</head>
<body ng-controller="HelpersListCtrl">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <input type="search" role="search" class="ng-cloak navbar-brand" placeholder="Search {{ data.length }} helpers..." ng-model="search" ng-change="find()" autofocus>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="https://github.com/assemble/handlebars-helpers">Github Repo</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
  <div class="col-sm-3 col-md-2 navbar">
  <ul class="nav sidebar ng-cloak">
    <li ng-repeat="collection in collections | filter:collectionSearch"><a href="#">{{collection.name}}</a>
      <div class="list-group">
        <a ng-repeat="helper in collection.helpers | filter:helperSearch" class="list-group-item" href="#">{{helper.name}}</a>
      </div>
    </li>
  </ul>
</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"><h1 class="page-header">Handlebars Helpers</h1>
<div class="row helpers-list" ng-non-bindable>
<h3>array</h3>
<h3><a href="lib/array.js#L23">.any</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>options</code> <strong>{Object}</strong></li>
</ul>
<h3><a href="lib/array.js#L45">.after</a></h3>
<p>Returns all of the items in an arry after the specified index. Opposite of <code>{{before}}</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong>: Collection</li>
<li><code>n</code> <strong>{Number}</strong>: Starting index (number of items to exclude)</li>
<li><code>returns</code> <strong>{Array}</strong>: Array exluding <code>n</code> items.</li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">after</span> <span class="hljs-string">"['a', 'b', 'c']"</span> 1}}</span><span class="xml">
//=&gt; '["c"]'
</span></code></pre>
<h3><a href="lib/array.js#L65">.before</a></h3>
<p>Return all of the items in the collection before the specified count. Opposite of {{after}}.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>n</code> <strong>{Number}</strong></li>
<li><code>returns</code> <strong>{Array}</strong>: Array excluding items after the given number.</li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">before</span> <span class="hljs-string">"['a', 'b', 'c']"</span> 2}}</span><span class="xml">
//=&gt; '["a", "b"]'
</span></code></pre>
<h3><a href="lib/array.js#L79">.filter</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{type}</strong></li>
<li><code>value</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/array.js#L145">.eachIndexPlusOne</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-begin-block">#eachIndexPlusOne array</span>}}</span><span class="xml">
  </span><span class="hljs-expression">{{<span class="hljs-variable">item</span>}}</span><span class="xml"> is </span><span class="hljs-expression">{{<span class="hljs-variable">index</span>}}</span><span class="xml">
</span><span class="hljs-expression">{{<span class="hljs-end-block">/eachIndexPlusOne</span>}}</span><span class="xml">
</span></code></pre>
<h3><a href="lib/array.js#L161">.empty</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/array.js#L183">.first</a></h3>
<p>Returns the first item, or first <code>n</code> items of an array.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>n</code> <strong>{Number}</strong>: Number of items to return, starting at <code>0</code>.</li>
<li><code>returns</code> <strong>{Array}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">first</span> <span class="hljs-string">"['a', 'b', 'c', 'd', 'e']"</span> 2}}</span><span class="xml">
//=&gt; '["a", "b"]'
</span></code></pre>
<h3><a href="lib/array.js#L211">.forEach</a></h3>
<pre><code class="lang-js">
<span class="hljs-comment">// example usage</span>
<span class="hljs-comment">// {{#forEach accounts}}</span>
<span class="hljs-comment">//   &lt;a href="mailto:{{ email }}" title="Send an email to {{ name }}"&gt;</span>
<span class="hljs-comment">//     {{ name }}</span>
<span class="hljs-comment">//   &lt;/a&gt;{{#unless isLast}}, {{/unless}}</span>
<span class="hljs-comment">// {{/forEach}}</span>
</code></pre>
<h3><a href="lib/array.js#L236">.inArray</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{type}</strong></li>
<li><code>value</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/array.js#L257">.isArray</a></h3>
<p>Returns true if <code>value</code> is an array.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{any}</strong>: The value to test.</li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">isArray</span> <span class="hljs-string">"abc"</span>}}</span><span class="xml">
//=&gt; 'false'
</span></code></pre>
<h3><a href="lib/array.js#L279">.join</a></h3>
<p>Join all elements of array into a string, optionally using a given separator.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>sep</code> <strong>{String}</strong>: The separator to use.</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">join</span> <span class="hljs-string">"['a', 'b', 'c']"</span>}}</span><span class="xml">
//=&gt; 'a, b, c'

</span><span class="hljs-expression">{{<span class="hljs-variable">join</span> <span class="hljs-string">"['a', 'b', 'c']"</span> '<span class="hljs-variable">-</span>'}}</span><span class="xml">
//=&gt; 'a-b-c'
</span></code></pre>
<h3><a href="lib/array.js#L302">.last</a></h3>
<p>Returns the last item, or last <code>n</code> items of an array. Opposite of [first][].</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>n</code> <strong>{Number}</strong>: Number of items to return, starting with the last item.</li>
<li><code>returns</code> <strong>{Array}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">last</span> <span class="hljs-string">"['a', 'b', 'c', 'd', 'e']"</span> 2}}</span><span class="xml">
//=&gt; '["d", "e"]'
</span></code></pre>
<h3><a href="lib/array.js#L323">.length</a></h3>
<p>Returns the length of the given array.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>returns</code> <strong>{Number}</strong>: The length of the array.</li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">length</span> <span class="hljs-string">"['a', 'b', 'c']"</span>}}</span><span class="xml">
//=&gt; 3
</span></code></pre>
<h3><a href="lib/array.js#L340">.lengthEqual</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{type}</strong></li>
<li><code>length</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/array.js#L368">.map</a></h3>
<p>Returns a new array, created by calling <code>function</code> on each element of the given <code>array</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>fn</code> <strong>{String}</strong>: The function to</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-js"><span class="hljs-comment">// register `double` as a helper</span>
<span class="hljs-function"><span class="hljs-keyword">function</span> <span class="hljs-title">double</span>(<span class="hljs-params">str</span>) </span>{
  <span class="hljs-keyword">return</span> str + str;
}
<span class="hljs-comment">// then used like this:</span>
<span class="hljs-comment">// {{map "['a', 'b', 'c']" double}}</span>
<span class="hljs-comment">//=&gt; '["aa", "bb", "cc"]'</span>
</code></pre>
<h3><a href="lib/array.js#L399">.sort</a></h3>
<p>Sort the given <code>array</code>. If an array of objects is passed, you may optionally pass a <code>key</code> to sort on as the second argument. You may alternatively pass a sorting function as the second argument.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong>: the array to sort.</li>
<li><code>key</code> <strong>{String|Function}</strong>: The object key to sort by, or sorting function.</li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">sort</span> <span class="hljs-string">"['b', 'a', 'c']"</span>}}</span><span class="xml">
//=&gt; 'a,b,c'
</span></code></pre>
<h3><a href="lib/array.js#L426">.sortBy</a></h3>
<p>Sort an <code>array</code>. If an array of objects is passed, you may optionally pass a <code>key</code> to sort on as the second argument. You may alternatively pass a sorting function as the second argument.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong>: the array to sort.</li>
<li><code>props</code> <strong>{String|Function}</strong>: One or more properties to sort by, or sorting functions to use.</li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">sortBy</span> '[<span class="hljs-string">"b"</span>, <span class="hljs-string">"a"</span>, <span class="hljs-string">"c"</span>]'}}</span><span class="xml">
//=&gt; 'a,b,c'

</span><span class="hljs-expression">{{<span class="hljs-variable">sortBy</span> '[{<span class="hljs-variable">a</span>: <span class="hljs-string">"zzz"</span>}, {<span class="hljs-variable">a</span>: <span class="hljs-string">"aaa"</span>}]' <span class="hljs-string">"a"</span>}}</span><span class="xml">
//=&gt; '[{"a":"aaa"},{"a":"zzz"}]'
</span></code></pre>
<h3><a href="lib/array.js#L451">.withAfter</a></h3>
<p>Use the items in the array <em>after</em> the specified index
as context inside a block. Opposite of [withBefore][].</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>idx</code> <strong>{Number}</strong></li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{Array}</strong></li>
</ul>
<h3><a href="lib/array.js#L478">.withBefore</a></h3>
<p>Use the items in the array <em>before</em> the specified index as context inside a block.Opposite of [withAfter][].</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><code>idx</code> <strong>{Number}</strong></li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{Array}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-begin-block">#withBefore array </span>3}}</span><span class="xml">
  </span><span class="hljs-expression">{{<span class="hljs-variable">this</span>}}</span><span class="xml">
</span><span class="hljs-expression">{{<span class="hljs-end-block">/withBefore</span>}}</span><span class="xml">
</span></code></pre>
<h3><a href="lib/array.js#L500">.withFirst</a></h3>
<p>Use the first item in a collection inside a handlebars
block expression. Opposite of [withLast][].</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><strong>{Number}</strong>: count</li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <em><em>{</em>}</em>*</li>
</ul>
<h3><a href="lib/array.js#L530">.withLast</a></h3>
<p>Use the last item in a collection inside a block.
Opposite of [withFirst][].</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong></li>
<li><strong>{Number}</strong>: count</li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <em><em>{</em>}</em>*</li>
</ul>
<h3><a href="lib/array.js#L556">.withSort</a></h3>
<p>Block helper that sorts a collection and exposes the sorted
collection as context inside the block.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{type}</strong></li>
<li><code>prop</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong>: Specify <code>reverse=&quot;true&quot;</code> to reverse the array.</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3>code</h3>
<h3><a href="lib/code.js#L31">.embed</a></h3>
<p>Embed code from an external file as preformatted text.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>fp</code> <strong>{String}</strong>: filepath to the file to embed.</li>
<li><code>language</code> <strong>{String}</strong>: Optionally specify the language to use for syntax highlighting.</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-js">{{embed <span class="hljs-string">'path/to/file.js'</span>}}

<span class="hljs-comment">// specify the language to use</span>
{{embed <span class="hljs-string">'path/to/file.hbs'</span> <span class="hljs-string">'html'</span>)}}
</code></pre>
<h3><a href="lib/code.js#L57">.jsfiddle</a></h3>
<p>Generate the HTML for a jsFiddle link with the given <code>params</code></p>
<p><strong>Params</strong></p>
<ul>
<li><code>params</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-js">{{jsfiddle id=<span class="hljs-string">"0dfk10ks"</span> tabs=<span class="hljs-string">"true"</span>}}
</code></pre>
<h3>comparison</h3>
<h3><a href="lib/comparison.js#L23">.contains</a></h3>
<p>Checks if a given value is present in a collection using strict
equality for comparisons, i.e. <code>===</code>. If fromIndex is negative,
it is used as the offset from the end of the collection.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>collection</code> <strong>{Array|Object|string}</strong>: The collection to iterate over.</li>
<li><code>target</code> <em><em>{</em>}</em>*: The value to check for.</li>
<li><code>[fromIndex=0]</code> <strong>{Number}</strong>: Optionally define the index to search from.</li>
</ul>
<h3><a href="lib/comparison.js#L47">.any</a></h3>
<p>Returns <code>true</code> if a value exists in the given string, array or
object, or if a callback is passed checks to see if a truthy
value is returned for any element in a collection or for any
sub-string in a string.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>val</code> <em><em>{</em>}</em>*: The value to check.</li>
<li><code>pattern</code> <em><em>{</em>}</em>*: The pattern to check for.</li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L63">.and</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>a</code> <strong>{type}</strong></li>
<li><code>b</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L80">.gt</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{type}</strong></li>
<li><code>test</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L97">.gte</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{type}</strong></li>
<li><code>test</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L114">.is</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{type}</strong></li>
<li><code>test</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L131">.isnt</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{type}</strong></li>
<li><code>test</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L148">.lt</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{type}</strong></li>
<li><code>test</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L165">.lte</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{type}</strong></li>
<li><code>test</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L269">.if_eq</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>context</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L284">.unless_eq</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>context</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L299">.if_gt</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>context</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3><a href="lib/comparison.js#L314">.unless_gt</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>context</code> <strong>{type}</strong></li>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<h3>data</h3>
<h3><a href="lib/data.js#L19">.stringify</a></h3>
<p><code>JSON.stringify</code> exposed as a helper.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>obj</code> <strong>{Object}</strong>: Object to stringify</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3>date</h3>
<h3>fs</h3>
<h3>html</h3>
<h3><a href="lib/html.js#L91">.ul</a></h3>
<p>Block helper for creating unordered lists (<code>&lt;ul&gt;&lt;/ul&gt;</code>)</p>
<p><strong>Params</strong></p>
<ul>
<li><code>context</code> <strong>{Object}</strong></li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/html.js#L106">.ol</a></h3>
<p>Block helper for creating ordered lists  (<code>&lt;ol&gt;&lt;/ol&gt;</code>)</p>
<p><strong>Params</strong></p>
<ul>
<li><code>context</code> <strong>{Object}</strong></li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/html.js#L125">.thumbnailImage</a></h3>
<p>Returns a <code>&lt;figure&gt;</code> with a thumbnail linked to a full picture</p>
<p><strong>Params</strong></p>
<ul>
<li><code>context</code> <strong>{Object}</strong>: Object with values/attributes to add to the generated elements:</li>
<li><code>context.alt</code> <strong>{String}</strong></li>
<li><code>context.src</code> <strong>{String}</strong></li>
<li><code>context.width</code> <strong>{Number}</strong></li>
<li><code>context.height</code> <strong>{Number}</strong></li>
<li><code>returns</code> <strong>{String}</strong>: HTML <code>&lt;figure&gt;</code> element with image and optional caption/link.</li>
</ul>
<h3>i18n</h3>
<h3>index</h3>
<h3>inflection</h3>
<h3><a href="lib/inflection.js#L22">.inflect</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>count</code> <strong>{type}</strong></li>
<li><code>singular</code> <strong>{type}</strong></li>
<li><code>plural</code> <strong>{type}</strong></li>
<li><code>include</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/inflection.js#L56">.ordinalize</a></h3>
<p>Returns an ordinalized number (as a string).</p>
<p><strong>Params</strong></p>
<ul>
<li><code>val</code> <strong>{String}</strong>: The value to ordinalize.</li>
<li><code>returns</code> <strong>{String}</strong>: The ordinalized number</li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-js">{{ordinalize <span class="hljs-number">1</span>}}
<span class="hljs-comment">//=&gt; '1st'</span>
{{ordinalize <span class="hljs-number">21</span>}}
<span class="hljs-comment">//=&gt; '21st'</span>
{{ordinalize <span class="hljs-number">29</span>}}
<span class="hljs-comment">//=&gt; '29th'</span>
{{ordinalize <span class="hljs-number">22</span>}}
<span class="hljs-comment">//=&gt; '22nd'</span>
</code></pre>
<h3>logging</h3>
<h3>markdown</h3>
<h3>math</h3>
<h3><a href="lib/math.js#L20">.add</a></h3>
<p>Return the product of <code>a</code> plus <code>b</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>a</code> <strong>{Number}</strong></li>
<li><code>b</code> <strong>{Number}</strong></li>
</ul>
<h3><a href="lib/math.js#L31">.subtract</a></h3>
<p>Return the product of <code>a</code> minus <code>b</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{Number}</strong>: a</li>
</ul>
<h3><a href="lib/math.js#L43">.divide</a></h3>
<p>Divide <code>a</code> by <code>b</code></p>
<p><strong>Params</strong></p>
<ul>
<li><code>a</code> <strong>{Number}</strong></li>
<li><code>b</code> <strong>{Number}</strong>: divisor</li>
</ul>
<h3><a href="lib/math.js#L55">.multiply</a></h3>
<p>Divide <code>a</code> by <code>b</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>a</code> <strong>{Number}</strong></li>
<li><code>b</code> <strong>{Number}</strong>: multiplier</li>
</ul>
<h3><a href="lib/math.js#L66">.floor</a></h3>
<p>Get the <code>Math.floor()</code> of the given value.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{Number}</strong></li>
</ul>
<h3><a href="lib/math.js#L77">.ceil</a></h3>
<p>Get the <code>Math.ceil()</code> of the given value.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{Number}</strong></li>
</ul>
<h3><a href="lib/math.js#L88">.round</a></h3>
<p>Round the given value.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{Number}</strong></li>
</ul>
<h3><a href="lib/math.js#L106">.sum</a></h3>
<p>Returns the sum of all numbers in the given array.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong>: Array of numbers to add up.</li>
<li><code>returns</code> <strong>{Number}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-js">sum([<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>, <span class="hljs-number">5</span>])
<span class="hljs-comment">//=&gt; '15'</span>
</code></pre>
<h3><a href="lib/math.js#L132">.avg</a></h3>
<p>Returns the average of all numbers in the given array.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>array</code> <strong>{Array}</strong>: Array of numbers to add up.</li>
<li><code>returns</code> <strong>{Number}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-js">avg([<span class="hljs-number">1</span>, <span class="hljs-number">2</span>, <span class="hljs-number">3</span>, <span class="hljs-number">4</span>, <span class="hljs-number">5</span>])
<span class="hljs-comment">//=&gt; '3'</span>
</code></pre>
<h3>misc</h3>
<h3><a href="lib/misc.js#L17">.default</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{type}</strong></li>
<li><code>defaultValue</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/misc.js#L28">.noop</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3>number</h3>
<h3><a href="lib/number.js#L31">.phoneNumber</a></h3>
<p>Output a formatted phone number</p>
<p><strong>Params</strong></p>
<ul>
<li><code>num</code> <strong>{Number}</strong>: The phone number to format, e.g. <code>8005551212</code></li>
<li><code>returns</code> <strong>{Number}</strong>: Formatted phone number: <code>(800) 555-1212</code></li>
</ul>
<h3><a href="lib/number.js#L62">.randomize</a></h3>
<p>Uses [randomatic] to generate a randomized string based on the given parameters.</p>
<p>See the [randomatic] docs for the full range of options.</p>
<ul>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/number.js#L75">.toAbbr</a></h3>
<p>Abbreviate numbers to the given number of <code>digits</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>number</code> <strong>{String}</strong></li>
<li><code>digits</code> <strong>{String}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/number.js#L108">.toExponential</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>number</code> <strong>{type}</strong></li>
<li><code>fractions</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Number}</strong></li>
</ul>
<h3><a href="lib/number.js#L123">.toFixed</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>number</code> <strong>{type}</strong></li>
<li><code>digits</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{Number}</strong></li>
</ul>
<h3>object</h3>
<h3><a href="lib/object.js#L20">.forIn</a></h3>
<p>Block helper that iterates over the properties of
an object, exposing each key and value on the context.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>context</code> <strong>{Object}</strong></li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/object.js#L39">.forOwn</a></h3>
<p>Block helper that iterates over the <strong>own</strong> properties of
an object, exposing each key and value on the context.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>context</code> <strong>{Object}</strong></li>
<li><code>options</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/object.js#L64">.hasOwn</a></h3>
<p>Return true if <code>key</code> is an own, enumerable property of the given <code>obj</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>key</code> <strong>{String}</strong></li>
<li><code>obj</code> <strong>{Object}</strong>: The object to check.</li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-js">{{hasOwn obj key}}
</code></pre>
<h3><a href="lib/object.js#L81">.isObject</a></h3>
<p>Return true if <code>value</code> is an object.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>value</code> <strong>{String}</strong></li>
<li><code>returns</code> <strong>{Boolean}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-js">{{isObject <span class="hljs-string">"foo"</span>}}
<span class="hljs-comment">//=&gt; false</span>
</code></pre>
<h3><a href="lib/object.js#L97">.merge</a></h3>
<p>Recursively combine the properties of <code>o</code> with the
properties of other <code>objects</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>o</code> <strong>{Object}</strong>: The target object. Pass an empty object to shallow clone.</li>
<li><code>objects</code> <strong>{Object}</strong></li>
<li><code>returns</code> <strong>{Object}</strong></li>
</ul>
<h3>path</h3>
<h3><a href="lib/path.js#L25">.relative</a></h3>
<p>Get the relative path from <code>a</code> to <code>b</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><code>a</code> <strong>{String}</strong></li>
<li><code>b</code> <strong>{String}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">relative</span> <span class="hljs-variable">a</span> <span class="hljs-variable">b</span>}}</span><span class="xml">
</span></code></pre>
<h3><a href="lib/path.js#L40">.extname</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>ext</code> <strong>{String}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<p><strong>Example</strong></p>
<pre><code class="lang-handlebars"><span class="xml"></span><span class="hljs-expression">{{<span class="hljs-variable">extname</span> <span class="hljs-string">"docs/toc.md"</span>}}</span><span class="xml">
//=&gt; '.js'
</span></code></pre>
<h3>string</h3>
<h3><a href="lib/string.js#L19">.capitalize</a></h3>
<p>Capitalize first word in a sentence</p>
<p><strong>Params</strong></p>
<ul>
<li><code>str</code> <strong>{String}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L33">.capitalizeFirst</a></h3>
<p>Capitalize the first word in a sentence</p>
<p><strong>Params</strong></p>
<ul>
<li><code>str</code> <strong>{String}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L48">.capitalizeEach</a></h3>
<p>Capitalize each word in a sentence</p>
<p><strong>Params</strong></p>
<ul>
<li><code>str</code> <strong>{String}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L64">.capitalizeAll</a></h3>
<p>Capitalize each word in a sentence</p>
<p><strong>Params</strong></p>
<ul>
<li><code>str</code> <strong>{String}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L87">.center</a></h3>
<p>Center a string using non-breaking spaces</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str</li>
<li><strong>{String}</strong>: spaces</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L106">.dashify</a></h3>
<p>Replace periods in string with hyphens.</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L119">.hyphenate</a></h3>
<p>Replace spaces in string with hyphens.</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L132">.lowercase</a></h3>
<p>Make all letters in the string lowercase</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L146">.plusify</a></h3>
<p>Replace spaces in string with pluses.</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str The input string</li>
<li><code>returns</code> <strong>{String}</strong>: Input string with spaces replaced by plus signs</li>
</ul>
<h3><a href="lib/string.js#L159">.sentence</a></h3>
<p>Sentence case</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L177">.titleize</a></h3>
<p>Title case. &quot;This is Title Case&quot;</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L201">.uppercase</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>options</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L216">.reverse</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>str</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L231">.count</a></h3>
<p>Return the number of occurrances of a string, within a string</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str       The haystack</li>
<li><strong>{String}</strong>: substring The needle</li>
<li><code>returns</code> <strong>{Number}</strong>: The number of times the needle is found in the haystack.</li>
</ul>
<h3><a href="lib/string.js#L259">.replace</a></h3>
<p>Replace occurrences of string &quot;A&quot; with string &quot;B&quot;</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str</li>
<li><strong>{String}</strong>: a</li>
<li><strong>{String}</strong>: b</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3><a href="lib/string.js#L275">.ellipsis</a></h3>
<p>Truncate the input string and removes all HTML tags</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str      The input string.</li>
<li><strong>{Number}</strong>: limit    The number of characters to limit the string.</li>
<li><strong>{String}</strong>: append   The string to append if charaters are omitted.</li>
<li><code>returns</code> <strong>{String}</strong>: The truncated string.</li>
</ul>
<h3><a href="lib/string.js#L298">.truncate</a></h3>
<p>Truncates a string given a specified <code>length</code>, providing a
custom string to denote an <code>omission</code>.</p>
<p><strong>Params</strong></p>
<ul>
<li><strong>{String}</strong>: str</li>
<li><strong>{String}</strong>: length</li>
<li><strong>{String}</strong>: omission</li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
<h3>url</h3>
<h3><a href="lib/url.js#L71">.stripQuerystring</a></h3>
<p><strong>Params</strong></p>
<ul>
<li><code>url</code> <strong>{type}</strong></li>
<li><code>returns</code> <strong>{String}</strong></li>
</ul>
</div>
</div>

  </div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted"><a href="https://github.com/doowb/">Brian Woodward</a> &copy; 2015</p>
    </div>
  </footer>
  
  <script src="assets/js/app.js"></script>
</body>
</html>
